#	Allgemeine Ignores

*.ipr
*.iml
*.iws
/.idea/*
!/.idea/artifacts/
!/.idea/codeStyleSettings.xml
!/.idea/vcs.xml


#	Benutzerdefinierte Ignores

target
/temp/
/.misc/
/_misc/
/misc/

# shade-plugin dependency file

dependency-reduced-pom.xml
/*.iml
