<?xml version="1.0" encoding="UTF-8"?>
<ConfigDataModel>
  <onlyUpdateWhenVisible>true</onlyUpdateWhenVisible>
  <fullscreen>false</fullscreen>
  <screenHeight>500</screenHeight>
  <vSync>true</vSync>
  <musicEnabled>true</musicEnabled>
  <screenWidth>800</screenWidth>
  <soundEnabled>true</soundEnabled>
  <musicVolume>0.5</musicVolume>
  <multisample>2</multisample>
  <showFPS>true</showFPS>
  <soundVolume>0.5</soundVolume>
</ConfigDataModel>
